/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    box-sizing: border-box;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #ccc 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family: Arial, sans-serif, 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
   // height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
    min-height: 100%;
    overflow-x: hidden !important;
    background: #bfcadf;
}
#history {
  display: none;
  margin-top: 60px;
  
  h1 {
    font-size: 18px;
    font-weight: bold;
    color: #30537c;
    margin: 0 10px 10px;
    border-bottom: 1px solid #30537c;

  }
  
  .scale {
    font-size: 13px;
    margin-left: 67px;
    margin-bottom: 4px;
    margin-top: 10px;
  }
  .admin-pw {
    display: none;
  }
  .upload-done {
    display: none;
    padding: 0 20px;
    .intro-buttons {
      margin-top: 8px;
    }
  }
  .confirm-upload {
    display: none;
    padding: 0 20px;  
    
    .confirm-sessions {
      text-transform: none;
      font-size: 13px;
      text-align: center;
    }
    .confirm-upload-btn {
      border: 1px solid black; 
    }
  }

  .container {
    padding: 0 20px;
    .name {
      display: block;
      margin-bottom: 4px;
      font-size: 16px;
      text-align: center;
    }
    .intro-buttons {
      margin-top: 10px;
    }
    input[type="text"], input[type="tel"] {
      height: 32px;
      border: none;
      background: #f2f2f2;
      padding-left: 8px;
      width: 100%;
    }     
    .enter-password {
      border: 1px solid black;
    }
  }
  .cancel {
    background: transparent;
    color: #666;
  }

  .nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4px 6px 6px 6px;
    text-align: center;
    background: rgba(#30537c,.7);
    .home {      
      position: absolute;
      left: 8px;
      top: 6px;
      background: #ddd;
      padding: 5px 7px;
      text-transform: none;
      font-weight: bold;
      font-size: 14px;
      border: 1px solid black;
      height: auto;
      border-radius: 0;
      color: black;
    }
    .upload {      
      position: absolute;
      right: 8px;
      top: 6px;
      background: #ddd;
      padding: 5px 7px;
      text-transform: none;
      font-weight: bold;
      font-size: 14px;
      border: 1px solid black;
      height: auto;
      border-radius: 0;
      color: black;
    }
    p {
      font-size: 19px;
      padding: 5px;
      font-weight: bold;
      color: white;
      text-align: center;
      margin: 0;
    }
  }
  .history-list {
    margin: 0 12px 12px;
    li.detail {    
      display: none;  
      padding: 8px;
      border: 1px solid #666;
      background: #eee;
      margin: 5px 0;
      text-transform: none;
      font-size: 13px;
      .things {
        margin-left: 10px;
      }
    }
    li.level {
      margin-bottom: 1px;
      display: -webkit-box;
      display: -moz-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: box;
      display: flex;
      align-items: center;   
      -webkit-align-items: center; 
      -webkit-box-align: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      margin-top: 3px;
      > span {
        display: inline-block;
        vertical-align: middle;
        width: 55px;
        color: black;
        font-size: 11px;
      }
      > div {
        display: block;
        vertical-align: middle;
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        .color-bar {
          background: #666;        
          text-align: right;
          color: white;
          padding: 5px; 
          &.daily {
            background: green;
          }
        }               
      }
    }
  }
  
}
#container { 
  width: 100%;
/*
  &[data-anxiety="0"], &[data-anxiety="1"] {
    .anxious {
      display: none;
    }
    .not-anxious {
      display: block;
    }
  } 
  &[data-anxiety="2"], &[data-anxiety="3"], &[data-anxiety="4"], &[data-anxiety="5"], &[data-anxiety="6"], &[data-anxiety="7"] {
    .anxious {
      display: block;
    }
    .not-anxious {
      display: none;
    }
  } 
*/
  .slider-description {
    margin-bottom: 10px;
    margin-top: -10px;
    > p {
      font-size: 14px !important;
      &.desc1 {
        float: left;
      }
      &.desc7 {
        float: right;
      }
    }
  }
  .nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4px 6px 6px 6px;
    text-align: center;
    background: rgba(#30537c,.7);
    .home {      
      position: absolute;
      left: 8px;
      top: 6px;
      background: #ddd;
      padding: 5px 7px;
      text-transform: none;
      font-weight: bold;
      font-size: 14px;
      border: 1px solid black;
      height: auto;
      border-radius: 0;
      color: black;
    }
    p {
      font-size: 19px;
      padding: 5px;
      font-weight: bold;
      color: white;
      text-align: center;
      margin: 0;
    }

  }

  .anxiety-history {
    display: none;
    .or {
      text-align: center;
      margin: 10px 0;
      font-size: 15px;
    }
  }
  .history {
    color: #fff;
    margin: 0 auto;   
    text-align:center;
    button {
      width: 100%;
      background: #777;
      border-radius: 0;
      border: 1px solid #aaa;
      text-transform: uppercase;
      font-size: 13px;
      color: white;
      font-weight: normal;
    }

    .container {
      &.center {
        p {
          text-align: center;
          margin-bottom: 12px;
          font-size: 16px;
          &.header {
            font-weight: bold;
          }
        }
      }

      .final-check {
        display: none;
        padding: 10px;
        border-radius: 10px;
        p {
          font-size: 13px;
          margin-bottom: 4px;
        }
      }
    }
    p {
      font-size: 13px;
    }
  }
  

  /* Portrait layout (default) */
  .app {
     // background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
      color: #fff;
      display: none;
      width: 300px;
      border: 1px solid #FFF;
      padding: 30px 15px;
      border-radius: 0;
      background: #3f5b80;
      margin: 60px auto 20px;   
      box-shadow: 0 2px 20px rgba(#666,.8);
      text-align:center;
      
      &[data-num="1"] {
        padding-top: 15px;
      }
      
      .final-slide {
        background: black;
      }
      
      &[data-num="1"], &[data-num="6"] {
        //margin-top: 70px;
      }
  //    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
  //    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                     /* offset horizontal: half of text area width */
    .intro {
  
    }
    .pin-not-set, .pin-set {
      
      .name {
        font-size: 16px;
        text-align: center;
        margin-top: 0;
      }
    }
    .pin-not-set {
      display: none;
    }
    .name-saved, .no-name {
      display: none;
    }
    p.name {
      margin-top: 15px;
    }
    p.date {
      margin-top: 5px;
      text-align: center;
      font-size: 18px;
      color: white;
      span {
        color: #bfcadf;
      }
    }
    input[type="text"], input[type="tel"] {
      height: 32px;
      border: none;
      background: #f2f2f2;
      padding-left: 8px;
      width: 100%;
    }
    .ideas-list {
      h1 {
        font-size: 14px;
        text-decoration: underline;
        margin-top: 6px;
        text-align: left;
        text-transform: none;
      }
    }
    .container {
      &.center {
        p {
          text-align: center;
          margin-bottom: 12px;
          font-size: 16px;
          &.header {
            font-weight: bold;
          }
        }
      }
      .final-slider {
        display: none;
        &.show {
          display: block;
        }
      }
      .next-time {
        display: none;
      }
      
      .final-check {
        display: none;
        padding: 10px;
        p {
          font-size: 16px;
          margin-bottom: 4px;
        }
        .check-no {
          background: #666;
        }
        .continue {
          background: green;
        }
      }
    }
    p {
      font-size: 13px;
    }
  }
  &[data-slide="pin"] {
    .app[data-num="pin"] {
      display: block;
    }
    .home {
      display: none;
    }
  }
  &[data-slide="0"] {
    .app[data-num="0"] {
      display: block;
    }
  }
  &[data-slide="1"] {
    .anxiety-history {
      display: block;
    }
    .app {
      &[data-num="1"] {
        display: block;
        .error {
          margin-top: 8px;
        }
      }
    }
  }
  &[data-slide="2"] {
    .app {
      &[data-num="2"] {
        display: block;
      }
    }
  }
  &[data-slide="3"] {
    .app {
      &[data-num="3"] {
        display: block;
      }
    }
  }
  &[data-slide="4"] {
    .app {
      &[data-num="4"] {
        display: block;
        .changer {
          font-size: 12px;
          > span {
            display: block;
          }
        }
        .error {
          margin-bottom: 8px;
        }
        textarea {
          height: 70px;
         // &:first-of-type {
            margin-bottom: 5px;
         // }
        }
      }
    }
  }
  &[data-slide="5"] {
    .app {
      &[data-num="5"] {
        display: block;
      }
    }
  }
  &[data-slide="6"] {
    .app {
      &[data-num="6"] {
        display: block;
      }
    }
  }
  &[data-slide="7"] {
    .app {
      &[data-num="7"] {
        display: block;
      }
    }
  }
}

.dragdealer {
  height: 6px;
  border-radius: 3px;
  margin-top: 20px;
  margin-bottom: 70px;
  box-shadow: inset 1px 2px 2px #999;
  .red-bar {
    top: -16px;
    background: rgb(252, 232, 31);
    border-radius: 50%;
    box-shadow: 0 2px 9px rgba(102,102,102,0.8);
    -webkit-transition: left .1s;
    -moz-transition: left .1s;
    -ms-transition: left .1s;
    transition: left .1s;
    padding: 20px;
    span {      
      display: block;
      margin-top: 22px;
      font-size: 25px;
      margin-left: -6px;
    }
  }
}

ul {  
  padding: 0;
  list-style-type: none;
  text-align: left;
  li {
    width: 100%;
    &.add-idea, &.add-feeling {
      padding-left: 33px;
      margin-top: 10px;
      > label {
        display: block;
      }
      a {
        text-decoration: underline;
        font-size: 13px;
        text-transform: none;
        display: block;
        color: white;
        margin-bottom: 8px;
      }
      textarea {
        width: 100%;
        border: none;
        height: 60px;
        font-size: 13px;  
        background: #f2f2f2;     
      }
      .add {
        display: none;
      }
      button {                
        width: 100%;
        height: 28px;
        font-size: 14px;
        border-radius: 4px;        
      }
    }
  }
  label {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    align-items: center;   
    -webkit-align-items: center; 
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    > span {
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      display: block;
      text-transform: none;
      font-size: 13px;
    }
  }
  label > input[type="checkbox"] {
    margin-right: 5px;
    display: inline-block;
    background-image: url('../img/checkbox.png');
    -webkit-background-size: 25px 50px;
    -moz-background-size: 25px 50px;
    background-size: 25px 50px;
    background-position: 0px 0px;
    background-color: transparent;
    border: 0;
    width: 25px;
    height: 25px;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    vertical-align: middle;
    &:checked {
      background-position: 0px 25px;
    }
  }
}
.error {
  background: #c01b00;
  padding: 8px;
  color: white;
  text-align: center;
  font-size: 13px;
  font-weight: normal;
  text-transform: none;
  display: none;
}
textarea {
  width: 100%;
  border: none;
  background: #f2f2f2;
  height: 110px;
  font-size: 13px;  
}
p {
  text-align: left;
  margin: 0 0 5px;
  text-transform: none;
}
button {
    border: 1px solid #fff;
    border-radius: 8px;
    color: #666;
    padding: 0;
    height: 36px;
    font-size: 15px;
    font-weight: bold;
    background:linear-gradient(bottom, #A7A7A7 0%, #E4E4E4 100%);
    background:-webkit-linear-gradient(bottom, #A7A7A7 0%, #E4E4E4 100%);
    background:-ms-linear-gradient(bottom, #A7A7A7 0%, #E4E4E4 100%);
    &:active {
      background:linear-gradient(bottom, #A7A7A7 0%, #BBB 100%);
      background:-webkit-linear-gradient(bottom, #A7A7A7 0%, #BBB 100%);
      background:-ms-linear-gradient(bottom, #A7A7A7 0%, #BBB 100%);
    }
    &.call {
      margin-left: 10px;
      text-transform: uppercase;
    }
  
}
.intro-buttons {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  margin-top: 20px;
  align-items: center;
  text-align: center;
  
  &.next {
    margin-top: 120px;
  }
  &.full-width {
    display: block;
    text-align: center;
    button.continue {
      width: 200px;
      margin: 0 auto;
    }
  }
  button, a {
    width: 105px;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    &.continue {
      margin-left: 10px;
      &.add-entry {
        margin-left: 0;
      }
    }
    
    &.back {
      color: white;
      background: transparent;
      border: none;
      &:active {
        background: transparent;
      }
    }

    border: 1px solid #BFCADF;
    border-radius: 0;
    color: white;
    padding: 0;
    height: 36px;
    font-size: 13px;
    font-weight: normal;
    text-transform: uppercase;
    background: #5d7fc0;
    &.daily {
      background: green;
      border-color: rgb(100, 194, 100);
      &:active {
        background: #005E00;
      }
    }
    &:active {
      background: #3a61ab;  
    }
  }
  a {
    text-decoration: none;
    padding: 9px 0;
    margin-left: 10px;
    text-transform: uppercase ;
  }
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
